@import '_variables';
@import '_mixins';

.db {
  &__header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: $db-header-height;
    @include flexCenter;
    background: #fff;
    box-shadow: 0 2px 5px 2px rgba(60, 64, 67, .15);
    z-index: 100;
  }

  &__new {
    margin-top: $db-header-height;
    padding: 1.5rem;
    background: #dadce0;
    display: flex;
    justify-content: space-between;
  }

  &__create {
   @include dashboardBtn(green);
  }

  &__delete {
    @include dashboardBtn(red);
  }

  &__view {
    max-width: 1000px;
    margin: 0 auto;
  }

  &__table {
    padding: 1rem;
  }

  &__list-header {
    display: flex;
    justify-content: space-between;
    color: #202124;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0 12px;
  }

  &__list {

  }

  &__record {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-bottom: 10px;
    &:hover {
      background: #e6f4ea;
      border-radius: 25px;
    }

    a {
      color: #202124;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}